.chatRowContainer {
  width: 100%;
}

.chatRow {
  font-family: 'Open Sans', sans-serif;
}

.username {
  color: teal;
  font-weight: 600;
}
.usernameCurrentUser {
  color: salmon;
  font-weight: 600;
}
.usernameHost {
  color: gold;
  font-weight: 600;
}

.timestamp {
  color: lightslategray;
}
