@keyframes fromLeft {
  from {
    opacity: 0.0;
    transform: translateX(-600px);
  }
  to {
    opacity: 1.0;
  }
}

.pageContainer {
  color: white;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  padding-top: 20px;
}


.meetingContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  gap: 10px;
  background-color: rgb(40, 40, 40);
  width: 500px;
  height: 800px;
  padding: 30px;
  box-shadow: 0 0 18px rgb(30, 30, 30);
  animation: fromLeft 0.3s;
}

.containerTop {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
}

.titleText {
  font-family: 'Podkova', serif;
  font-size: 40px;
  font-weight: 200;
  text-align: left;
}

.createdDate {
  width: 100%;
  font-size: 12px;
}

.avatar {
  color: white;
  font-family: 'Podkova', serif;
  font-size: 24px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 18px rgb(30, 30, 30);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  left: 0%;
  top: 0%;
  transform: translate(-50% -50%);
  border-radius: 51%;
  background-color: skyblue;
  min-height: 120px;
  min-width: 120px;
  text-align: end;
  background-image: url(../../../assets/sprout.svg);
}


.description {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-align: left;
  min-height: 30%;
  padding-top: 10px;
  overflow-y: auto;
  scroll-behavior: smooth;
}


.waitingText {

}

.video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  animation: floatUp 0.8s;
}

.videoBox {
  background-color: black;
  width: 400px;
  height: 300px;
}

@keyframes floatUp {
  from {
    opacity: 0.0;
    transform: scale(0.5);
  }
  to {
    opacity: 1.0;
    transform: scale(1.0);
  }
}
