.queueWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
.waitingText {
  font-family: 'Podkova', serif;
  font-size: 26px;
  font-weight: 200;
  margin: 20px 0;
}

.queueContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-height: 280px;
}

.queueList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 75%;
}

.patronRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  width: 50%;
}

.patronIndex {
  font-weight: 600;
}

.hostButtons {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  padding-bottom: 20px;
}
