/* TODO Add site wide styles */
* {
  box-sizing: border-box;
}

#root {
}

body {
  min-width: 100%;
  min-height: 100%;
  background-image: url(./assets/corkboard-background.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  background-position: top center;
}

html, body, div,
h1, h2, h3, h4,
h5, h6, p, blockquote,
img, ol, ul, li,
input, label, select,
table, tbody, tfoot, thead, tr, th, td,
footer, header, menu, nav {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 1rem;
  list-style: none;
}

input:focus, textarea:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: #000;
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(40, 40, 40);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(140, 140, 140);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: goldenrod;
}
