.banner {
  font-size: 100px;
  font-family: 'Podkova', serif;
  color: gold;
  font-weight: 600;
  text-shadow: 1px 1px 10px black;
  margin-top: 50px;
}

.pageContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 150px;
  width: 100%;
  height: 100%;
}
.tileContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}
