.modal,
.modalBackground {
  width: 100vw;
  height: 100vh;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}


.modalBackground {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
}


.modalContent {
  position: absolute;
  background-color: transparent;
}
