.chatroom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  gap: 50px;
  background-color: rgb(40, 40, 40);
  width: 500px;
  height: 800px;
  padding: 20px;
  box-shadow: 0 0 18px rgb(30, 30, 30);
}

.chatMessages {
  display: flex;
  flex-direction: column-reverse;
  color: black;
  width: 90%;
  height: 80%;
  padding: 10px;
  background-color: white;
  overflow-y: scroll;
}

.form {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 4%;
}

.inputField {
  width: 100%;
  height: auto;
}
