.chatroom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  background-color: rgb(40, 40, 40);
  width: 500px;
  height: 800px;
  padding: 40px 20px;
  box-shadow: 0 0 18px rgb(30, 30, 30);
}

.chatMessages {
  display: flex;
  flex-direction: column-reverse;
  color: white;
  width: 90%;
  height: 90%;
  background-color: rgb(40, 40, 40);
  overflow-y: scroll;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 0 22px;
}

.inputField {
  color: white;
  width: 83%;
  padding: 15px;
  background-color: gray;
  border-radius: 5px;
  border: 2px solid gray;
  height: auto;
  transition: background-color 0.3s, border 0.3s;
}

.inputField::placeholder {
  color: rgb(170, 170, 170);
}

.inputField:focus:hover,
.inputField:focus {
  border: 2px solid teal;
  background-color: black;
  transition: background-color 0.3s, border 0.3s;
}

.inputField:hover {
  border: 2px solid rgb(170, 170, 170);
}

.errorsContainer {
  position: absolute;
  bottom: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
}

.error {
  color: salmon;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
