.pageContainer {
  color: white;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  margin-top: 100px;
}

.videosWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  animation: floatUp 0.7s;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 400px;
  height: 300px;
  object-fit: contain;
  background-color: rgb(40, 40, 40);
  border-radius: 8px;
}

.video {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; */
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

@keyframes floatUp {
  from {
    opacity: 0.0;
    transform: scale(0.5);
  }
  to {
    opacity: 1.0;
    transform: scale(1.0);
  }
}


/*
@keyframes fromLeft {
  from {
    opacity: 0.0;
    transform: translateX(-600px);
  }
  to {
    opacity: 1.0;
  }
}

.meetingContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  gap: 50px;
  background-color: rgb(40, 40, 40);
  width: 500px;
  height: 800px;
  padding: 20px;
  box-shadow: 0 0 18px rgb(30, 30, 30);
  animation: fromLeft 0.3s;
}

.containerTop {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
}

.titleText {
  font-family: 'Podkova', serif;
  font-size: 40px;
  font-weight: 200;
  text-align: left;
}

.createdDate {
  width: 100%;
  font-size: 12px;
}

.avatar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  left: 0%;
  top: 0%;
  transform: translate(-50% -50%);
  border-radius: 51%;
  background-color: slategray;
  min-height: 120px;
  min-width: 120px;
  text-align: end;
}


.description {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-align: left;
  height: 30%;
  padding-top: 10px;
  overflow-y: auto;
  scroll-behavior: smooth;
}


.waitingText {

}
*/
