.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  background-color: rgb(40, 40, 40);
  width: 250px;
  height: 400px;
  padding: 10px;
  box-shadow: 0 0 18px rgb(30, 30, 30);
  transform: rotate(3deg);
  transition: transform 0.1s;
}

.card:hover {
cursor: pointer;
  transform: rotate(1deg);
  transform: scale(1.05);
  transition: transform 0.1s;
}

.titleText {
  font-family: 'Podkova', serif;
  font-size: 40px;
  font-weight: 200;
}


.createdDate {

}


.avatar {

}


.description {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 200;
  text-align: left;
}


.waiting {

}


.waitingText {

}
