.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  gap: 4px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(40, 40, 40);
  width: 250px;
  height: 400px;
  padding: 20px;
  box-shadow: 0 0 18px rgb(30, 30, 30);
  transform: rotate(3deg);
  transition: transform 0.1s, box-shadow 0.1s;
  animation: flyIn 0.3s;
}

.card:hover {
  cursor: pointer;
  transform: rotate(1deg);
  transform: scale(1.05);
  box-shadow: 0 0 40px rgb(30, 30, 30);
  transition: transform 0.1s, box-shadow 0.1s;
}

.titleText {
  font-family: 'Podkova', serif;
  font-size: 40px;
  font-weight: 200;
  padding-top: 20px;
  text-align: center;
  transition: color 0.1s, text-shadow 0.1s;
}

.card:hover .titleText {
  color: goldenrod;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  transition: color 0.1s, text-shadow 0.3s;
}


.createdDate {
  font-size: 12px;
  text-align: center;
}


.avatar {
  position: relative;
  left: 0%;
  top: 0%;
  transform: translate(-50% -50%);
  border-radius: 50%;
  background-color: mediumpurple;
  width: 60px;
  height: 60px;
  text-align: end;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}


.description {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 200;
  text-align: left;
  height: 30%;
  padding-top: 10px;
}


.waiting {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}


.waitingText {

}


@keyframes flyIn {
  from {
    opacity: 0.0;
    transform: translateY(200px);
  }
  to {
    opacity: 1.0;
  }
}
