.pageContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 150px;
  width: 100%;
  height: 100%;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  border-radius: 15px;
  background-color: rgb(30, 30, 30);
  box-shadow: 0px 1px 18px rgba(40, 40, 40, 1);
  width: 100%;
  height: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.inputField {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  min-width: 300px;
  max-width: 300px;
  color: white;
  outline: none;
  background-color: rgb(30, 30, 30);
  padding: 10px;
  border-bottom:2px solid grey;
  transition: border-bottom 0.3s;
}

.inputField:hover {
  border-bottom: 2px solid teal;
  transition: border-bottom 0.3s;
}

.inputField:focus:hover {
  border-bottom: 2px solid teal;
  transition: border-bottom 0.3s;
}

.inputField:focus {
  border-bottom: 2px solid teal;
  transition: border-bottom 0.3s;
}

.inputField::placeholder {
  color: rgb(165, 165, 165);
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.inputField:-webkit-autofill,
.inputField:-webkit-autofill:hover,
.inputField:-webkit-autofill:focus,
.inputField:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(30, 30, 30) inset !important;
  font-size: 18px !important;
}

.inputField:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  -webkit-text-size-adjust: none !important;
  font-size: 18px !important;
  font-family: 'Open Sans', sans-serif;
}

.errorsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: auto;
}

.error {
  color: salmon;
  font-family: 'Open Sans', sans-serif;

}

.closeModal {
  position: relative;
  width: 100%;
  top: 14px;
  right: 50%;
}
