.navContainer {
  z-index: 100;
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftContainer {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.user {
  display: flex;
  align-items: center;
  padding: 20px 0;
  font-size: 20px;
  font-family: 'Podkova', serif;
  color: rgb(73, 36, 8);
  font-weight: 600;
  text-shadow: 1px 1px 10px rgb(133, 91, 63);
  /* width: 270px; */
}

.potato {
  position: relative;
  max-width: 40px;
  min-width: 40px;
  height: 80px;
  margin: 0 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../assets/potato.png);
  transition: transform 0.2s;
}

.potato:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

/* .potato:active {
  text-shadow: 0 0 20px 10px black;
} */

.userAuth {
  padding-right: 30px;
  min-width: 270px;
}
