.navContainer {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .leftContainer {
  display: flex;
  flex-direction: row;
  width: fit-content;
  min-width: 270px;
} */

.potato {
  position: relative;
  max-width: 40px;
  min-width: 40px;
  height: 80px;
  margin: 0 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../assets/potato.png);
  transition: transform 0.2s;
}

.potato:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.user {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Podkova', serif;
  color: black;
  font-weight: 600;
  /* text-shadow: 1px 1px 10px rgb(133, 91, 63); */
  animation: appear 2s;
}

@keyframes appear {
  30%, 80% {
    opacity: 1.0;
    transform: translate(-50%, 0%);
  }
  0%, 100% {
    opacity: 0.0;
    transform: translate(-50%, 100%)
  }
  /* 10%, 20%, 80%, 90% {
    opacity: 0.5;
  }
  30%, 40%, 50%, 60%, 70% {
    opacity: 1.0;
    transform: translateY(0%)
  } */
}

@keyframes wiggle {
  10%, 30%, 50%  {
    transform: rotate(25deg);
  }
  20%, 40%, 60% {
    transform: rotate(-25deg);
  }
  70%, 80%, 90%, 100% {
    transform: rotate(0deg);
  }
}

/* .potato:active {
  text-shadow: 0 0 20px 10px black;
} */

.userAuth {
  padding-right: 30px;
  min-width: 270px;
}
